@import '../../setting';

$list-bg-color : #ebecf0;
$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 8px;
$card-border-radius: 4px;


.board-content {
    height: $board-content-height;
    overflow-x: auto; // neu column or text tran` theo chieu ngang or doc thi xuat hien thanh cuon scroll
    overflow-y: hidden;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      // vertaical: theo chieu doc. , hiểu là set độ dày thanh scroll
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      // hàm draken dùng để là tối màu nào đó
      background-color: $common-element-bg;
      border-radius: 8px;
    }

    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }

  }